<template name="sortableTemplate">
  {{#sortable items=models sortField="order" animation="100" handle=".sortable-handle" options=options}}
    <div data-id="{{order}}" class="sortable-item removable well well-sm">
      <i class="sortable-handle mdi-action-view-headline pull-right">=</i>
      <span class="name">{{title}}</span>
      <span class="badge">{{order}}</span>
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
    </div>
  {{/sortable}}
</template>

