<template name="mapItem">
  <div class="map">
    <div class="map-content">
      <h3>{{title}}</h3>
      <p>
        横幅：{{width}}　高さ：{{height}}
      </p>
      <h4>タイルタイプ文字列</h4>
      <p>
        {{type_array}}
      </p>
      <h4>タイル高さ文字列</h4>
      <p>
        {{height_array}}
      </p>
      <p>
        submitted by {{author}}
        {{#if ownMap}}<a href="{{pathFor 'mapEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'mapPage'}}" class="discuss btn btn-default">Detail</a>
  </div>
</template>
