<template name="mapEdit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your map" class="form-control"/>
      </div>
      <label class="control-label" for="title">横幅</label>
      <div class="controls">
        <input name="width" id="title" type="text" value="{{width}}" placeholder="マップの横幅を入力してください" class="form-control"/>
      </div>
      <label class="control-label" for="title">高さ</label>
      <div class="controls">
        <input name="height" id="title" type="text" value="{{height}}" placeholder="マップの高さを入力してください" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete map</a>
  </form>
</template>


