$canvasWidth: 1200px;
$canvasHeight: 800px;

@mixin screen-setup {
  width: $canvasWidth;
  height: $canvasHeight;
  margin: 0px;
  position: absolute;
  top: 0px;
}


div#canvasWrapper {
  position: absolute;
}

canvas#renderCanvas {
  @include screen-setup;
}

canvas#tmlibCanvas {
  @include screen-setup;
}

div#game-ui-body {
  @include screen-setup;
}