#game-ui-body {
  pointer-events: none;
}

table.ui-table {
  background-color: white;

  border: 2px #999999 solid;

  th {
    border: 2px #999999 solid;
  }
}

td.ui-table-cell.selected {
  background-color: yellow;
}

#ui-table_system-status.ui-table {
  position: absolute;
  right: 500px;
  top:0px;
}
