div#map-container {
  max-width: 64*20px;
  max-height: 64*20px;

  overflow:auto;
  background-color: red;
}

@mixin control-tile-mixin {
  float: left;
  width: 64px;
  height: 64px;

  &.selected {
    border: solid 2px red;
  }
}

div.control-tile {
  @include control-tile-mixin;
}

div.control-tile-half {
  @include control-tile-mixin;
  width: 32px;
  height: 32px;
  background-size: 672px 32px;
}

div.timeline iframe {
  height: 650px;
}
